#
# Please write this file as /etc/containers/systemd/wordpress-php.container
#

[Unit]
After=network-online.target

[Container]
ContainerName=wordpress-php
Pod=wordpress.pod
Image=ghcr.io/tektrans/wordpress-extended:php8.4

# Change this line to your timezone
Timezone=Asia/Jakarta

# Enable podman auto-update on this container
AutoUpdate=registry

Volume=wordpress-html:/var/www/html

[Service]
Restart=always
